.title {
    color: whitesmoke;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center
  }


  .h {
    content: "\210C";
    zoom: 2;
    color: darkred
  }

  .arrow {
    zoom: 3;
    color: black;
}

.rightArrow {
  content: "\276F";
  color: black;
  zoom: 3;
}