.mainTab{
    color: whitesmoke;
    text-align: center
}

/* .formDiv {
    width: 100vw;
} */

.mainForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.mainForm > input {
    margin: 5pt
}